{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DayStar Daycare Management</title>
<link rel="icon" href="{% static 'images/badge.ico' %}" type="image/x-icon"/>
<link rel="stylesheet" href="{% static 'css/dashb.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="container-fluid">
 <div class="row">   
    <nav class="sidebar close col-3">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="{% static 'images/badge.png' %}" alt="badge">
          </span>

          <div class="text header-text">
            <span class="name">Dashboard</span>
            <span class="profession">Daystar Daycare</span>
          </div>
        </div>
        <i class="fa-solid fa-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
              <i class="fa-solid fa-magnifying-glass icon"></i>
              <input type="text" placeholder="Search...">
          </li>
          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-house icon"></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'sitter' %}">
                <i class="fa-solid fa-person-breastfeeding icon"></i>
                <span class="text nav-text">Sitters</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'baby' %}">
                <i class="fa-solid fa-child-reaching icon"></i>
                <span class="text nav-text">Babies</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-receipt icon"></i>
                <span class="text nav-text">Payments</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-chart-simple icon"></i>
                <span class="text nav-text">Procurement</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-baby icon"></i>
                <span class="text nav-text">Dolls</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-circle icon"></i>
                <span class="text nav-text">Other</span>
              </a>
            </li>
          </ul>
        </div>


        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="fa-solid fa-right-from-bracket icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
          <li class="mode">
            <div class="moon-sun">
              <i class="fa-solid fa-moon icon moon"></i>
              <i class="fa-solid fa-sun icon sun"></i>
            </div>

            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
              <span class="switch">

              </span>
            </div>


          </li>
        </div>
      </div>
    </nav>

    <section class="home col-9">
      <div class="text">Dashboard</div>
      <div id="dashboard-content"></div>
    </section>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 

<script>
  // JavaScript for handling sidebar item clicks and updating content
  $(document).ready(function() {
    $('.nav-link').click(function(event) {
      event.preventDefault(); // Prevent default link behavior
  
      // Fetch the URL from the clicked anchor tag
      var url = $(this).find('a').attr('href');
  
      // Fetch content from the URL using AJAX
      $.get(url, function(data) {
        // Update the content in the dashboard section
        $('#dashboard-content').html(data);
      });
    });
  });
  </script>

</body>
</html>
