{% extends "babies/base.html" %}

{% block body %}
<div class="content">
<div class="container-fluid">
 <div class="row"> 
  

  <div class="col-2">
    <div class="sidebar">

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
              <i class="fa-solid fa-magnifying-glass icon"></i>
              <input type="text" placeholder="Search...">
          </li>
          <ul class="menu-links">
            <li class="nav-link">
              <a href="{% url 'dashb' %}">
                <i class="fa-solid fa-house icon"></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'sitter' %}">
                <i class="fa-solid fa-person-breastfeeding icon"></i>
                <span class="text nav-text">Sitters</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'baby' %}">
                <i class="fa-solid fa-child-reaching icon"></i>
                <span class="text nav-text">Babies</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'babyfee' %}">
                <i class="fa-solid fa-receipt icon"></i>
                <span class="text nav-text">Fees Payments</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'supply' %}">
                <i class="fa-solid fa-chart-simple icon"></i>
                <span class="text nav-text">Procurement</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'doll' %}">
                <i class="fa-solid fa-baby icon"></i>
                <span class="text nav-text">Dolls</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-circle icon"></i>
                <span class="text nav-text">Other</span>
              </a>
            </li>
          </ul>
        </div>


        <div class="bottom-content">
          <li class="">
            <a href="{% url 'index' %}">
              <i class="fa-solid fa-right-from-bracket icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
          
        </div>
      </div>
    </div>
  </div>
    
  <div class="home col-10" id="content-container">
    <div class="text">Dashboard</div>
    <div id="dashboard-content">
      <div class="card" style="height: 535px; width:1570px; background-color:#355070; color:#e3f2fd;">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>
    
</div>

<style>
  .sidebar{
    margin-left:-25px;
    position: sticky;
    top: 0;
    height: 60vh;
    background-color: #355070;
    color: #e3f2fd;
    border-radius: 10px;
  }
  .menu-bar {
    padding: 20px;
}

.menu-links {
    list-style-type: none;
}

.menu-links li {
  font-family: serif;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px;
}
.menu-links li:hover{
  background-color: #e3f2fd;
  color: #355070;
}
.menu-links li a {
  position: relative;
  color: #e3f2fd;
  text-decoration: none;
  padding: 5px 10px;
}
.menu-links li a:hover{
  border-color: #355070;
  color:#355070
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
// JavaScript/jQuery to load content dynamically
$(document).ready(function() {
  $('.nav-link').click(function(e) {
    e.preventDefault(); // Prevent default link behavior
    var url = $(this).attr('href'); // Get the URL from the clicked link
    $.get(url, function(data) {
      $('#content-container').html(data); // Load content into the container
    });
  });
});
</script>

{% endblock %}
