{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayStar Management</title>
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'images/badge.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'baby' %}">
            <img src="{% static 'images/badge.png' %}" alt="{{ badge }}"> DayStar Management</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'baby' %}"><i class="fa-solid fa-list fa-lg"></i> Babies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sitter' %}"><i class="fa-solid fa-list fa-lg"></i> Sitters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'at_school' %}"><i class="fa-solid fa-list fa-lg"></i> Daily Baby Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'in_school' %}"><i class="fa-solid fa-list fa-lg"></i> Daily Sitter Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-list fa-lg"></i> Procurement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'doll' %}"><i class="fa-solid fa-list fa-lg"></i> Dolls</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dollsale' %}"><i class="fa-solid fa-list fa-lg"></i> Dollsales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'supply' %}"><i class="fa-solid fa-list fa-lg"></i> Daycare Supplies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'babyfee' %}"><i class="fa-solid fa-plus fa-lg"></i> Fees Payments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sitterpayment' %}"><i class="fa-solid fa-plus fa-lg"></i> Sitter Payments</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="{% url 'add' %}"><i class="fa-solid fa-plus fa-lg"></i> Add Babies</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'adds' %}"><i class="fa-solid fa-plus fa-lg"></i> Add Sitters</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'addd' %}"><i class="fa-solid fa-plus fa-lg"></i> Record Baby's Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'adddd' %}"><i class="fa-solid fa-plus fa-lg"></i> Record Sitter's Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'addds' %}"><i class="fa-solid fa-plus fa-lg"></i> Record Supplies</a>
              </li>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adddds' %}"><i class="fa-solid fa-plus fa-lg"></i> Add Doll</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'addddd' %}"><i class="fa-solid fa-plus fa-lg"></i> Add Doll Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'adi' %}"><i class="fa-solid fa-plus fa-lg"></i> Add Fees Payment</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addi' %}"><i class="fa-solid fa-plus fa-lg"></i> Add Sitter Payment</a>
          </li>
             </ul>
          </div>
        </div>
      </nav>
     <div class="container-fluid">
        {% block body %}
        {% endblock %}                              
     </div>
     <footer class="mt-auto mb-4">
        <div class="text-center">
            <span>
                Copyright &copy; <script>document.write(new Date().getFullYear())</script>DayStar Daycare Center.
            </span>
        </div>
     </footer>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>