{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayStar Management</title>
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'images/badge.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
      .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        z-index:800;
        font-family: serif;
        font-size: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      .navbar-nav > li{
        position: relative;
      }
      .navbar-nav > li:hover .dropdown-menu{
        display: block;
      }
      .navbar-nav .nav-link::after {
        display: none !important; /* Hide the arrow */
    }
      .dropdown-item:hover{
      color: #e3f2fd;
      background-color: #2a9d8f;
    }
      .body{
        padding-top: 80px;
        background-color: #e3f2fd;
        font-family: serif;
        font-size: 18px;
      }
      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #006d77;
      }
      .footer .copyright {
        margin-top: 1px;
        text-align: center;
        font-size: 16px;
        color: #e3f2fd;
      }
      .container-fluid {
        margin-top: 50px;
        position: relative;
      }
    </style>

</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #e3f2fd;">
    <nav class="navbar navbar-expand-lg" style="background-color: #2a9d8f">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'baby' %}" style="color: #e3f2fd;">
          <img src="{% static 'images/badge1.png' %}" alt="badge" style="height: 100px; padding-bottom:3px;">DAYSTAR DAYCARE CENTRE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #e3f2fd;">
                  Babies
                </a>
                <ul class="dropdown-menu"  style="background-color: #e3f2fd;">
                  <li><a class="dropdown-item" href="{% url 'baby' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>All Babies</a></li>
                  <li><a class="dropdown-item" href="{% url 'at_school' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Daily Baby Records</a></li>
                  <li><a class="dropdown-item" href="{% url 'babyfee' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Fees Payments</a></li>
                  <li><a class="dropdown-item" href="{% url 'monthlyfee' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Monthly Payments</a></li>
                  <li><a class="dropdown-item" href="{% url 'addt' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Record Monthly Payments</a></li>
                  <li><a class="dropdown-item" href="{% url 'add' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Add Babies</a></li>
                  <li><a class="dropdown-item" href="{% url 'addd' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Record Baby's Day</a></li>
                  <li><a class="dropdown-item" href="{% url 'adi' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Add Fees Payment</a></li>
                </ul>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #e3f2fd;">
                    Sitters
                  </a>
                  <ul class="dropdown-menu" style="background-color: #e3f2fd;">
                    <li><a class="dropdown-item" href="{% url 'sitter' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>All Sitters</a></li>
                    <li><a class="dropdown-item" href="{% url 'shift' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Shift Records</a></li>
                    <li><a class="dropdown-item" href="{% url 'sitterpayment' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Sitter Payments</a></li>
                    <li><a class="dropdown-item" href="{% url 'adds' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Add Sitters</a></li>
                    <li><a class="dropdown-item" href="{% url 'adddd' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Record Sitter's Shift</a></li>
                    <li><a class="dropdown-item" href="{% url 'addi' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Add Sitter Payment </a></li>
                  </ul>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #e3f2fd;">
                      Procurement
                    </a>
                    <ul class="dropdown-menu" style="background-color: #e3f2fd;" >
                      <li><a class="dropdown-item" href="{% url 'supply' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i> Daycare Supplies</a></li>
                      <li><a class="dropdown-item" href="{% url 'addds' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i>Record Supplies</a></li>
                      <li><a class="dropdown-item" href="{% url 'doll' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Dolls</a></li>
                      <li><a class="dropdown-item" href="{% url 'adddds' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Add Doll</a></li>
                      <li><a class="dropdown-item" href="{% url 'dollsale' %}" style="color: #000;"><i class="fa-solid fa-list fa-lg"></i>Dollsales</a></li>
                      <li><a class="dropdown-item" href="{% url 'addddd' %}" style="color: #000;"><i class="fa-solid fa-plus fa-lg"></i> Add Doll Sale</a></li>
                    </ul>
             </ul>
          </div>
        </div>
      </nav>
     <div class="container-fluid">
        {% block body %}
        
        {% endblock %}                              
     </div>
     <div class="container-fluid">
      <footer class="footer">
        <div class="container">
          <span class="text-muted">
            <p class="copyright">
              <script>document.write(new Date().getFullYear())</script> <span style="font-weight: bold;">&copy;</span> Daystar Daycare Centre By Mable Musiimenta| All Rights Reserved
          </p>
          </span>
        </div>
      </footer>
     </div>
     <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>