.sidebar{
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #355070;
    color: #e3f2fd;
    padding-top: 20px;
}
.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.sidebar-nav a:hover {
    background-color: #4e6aa5;
}

.content {
    margin-left: 250px;
    padding: 20px;
}